/Aluno.class
/Aplicacao.class
/Cadastro.class
/CadastroAluno.class
/CadastroDisciplina.class
/Disciplina.class
/EntradaConsole.class
/EntradaGui.class
/IArmazenador.class
/ICadastro.class
/IEntrada.class
/Interface.class
/NomeDisciplina.class
/NomePessoa.class
/NomeProfessor.class
/Pessoa.class
/Texto.class
/VetDin.class
/EntradaSwing.class
